<h1>Find Anagrams!</h1>

<% if @new_word %>
  <p>Estos son anagramas para '<%= @new_word %>':</p>
  <% @anagrams.each do |anagram| %>
   <p> <%=anagram.palabras %> </p>
   <% end %>
<% end %>

 <%= erb :_new_form, :layout => false%>
